.password-field {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-field input {
    flex: 1;
  }
  
  .password-field .password-toggle {
    margin-left: 10px; /* Add space between the input and the button */
    padding: 0;
  }
  
  .form-group.mb-4 {
    margin-bottom: 1.5rem; /* Add space between the input field and the submit button */
  }
  
  .btn-primary.mt-3 {
    margin-top: 1rem; /* Add more space above the submit button */
  }
  