<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 style="font-size: 1.5rem;">Enter your new password here</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <div class="form-group mb-4">
            <label for="newPassword">Enter new password:</label>
            <div class="password-field">
              <input [type]="passwordFieldType" formControlName="newPassword" id="newPassword" class="form-control" required>
              <!-- Button to toggle password visibility -->
              <button type="button" class="btn btn-link password-toggle" (click)="togglePasswordVisibility()">{{ passwordToggleText }}</button>
            </div>
          </div>
          <button type="submit" class="btn btn-primary rounded-pill btn-lg mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
  